<footer style="background-color: #111; padding: 2em 1em; font-family: monospace; color: #9f9; font-size: 0.9em;">
  <div style="max-width: 1000px; margin: auto; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; gap: 2em;">

    <!-- Left: Logo + Tagline -->
    <div style="flex: 1 1 200px;">
      <a href="/"><img src="/assets/images/0btc.png" style="height: 50px; vertical-align: middle; margin-right: 5px;" title="0BTC.life" alt="0BTC logo" /></a>
      <p style="color: #ccc;">Crypto research, guides & tools for the decentralized age.</p>
    </div>

    <!-- Middle: Menu -->
    <div style="flex: 1 1 200px;">
      <strong style="color: #9f9;">Navigate</strong>
      
        <a href="/about/" style="color: #66f;">About</a>
        <a href="/privacy/" style="color: #66f;">Privacy Policy</a>
        <a href="/terms/" style="color: #66f;">Terms & Conditions</a>
        <a href="/rss.xml" style="color: #66f;">RSS</a>
      
    </div>

    <!-- Right: Socials -->
    <div style="flex: 1 1 200px;">
      <strong style="color: #9f9;">Socials</strong>
      <div style="margin-top: 0.5em;">
        <a href="https://discord.gg/95SupUcuDk"><img src="/assets/images/socials/discord.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Join Discord" alt="0BTC Discord Server invite logo svg" /></a>
        <a href="https://x.com/zanti_eth"><img src="/assets/images/socials/x.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Follow me on Twitter/X" alt="Twitter/X logo" /></a>
        <a href="https://bsky.app/profile/zantti.bsky.social"><img src="/assets/images/socials/bluesky.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Follow me on Bluesky" alt="Bluesky logo" /></a>
        <a href="https://app.metri.xyz/0xf47e1cC1a83B8Ac0e66aD9C30e780e2036Fba7b5"><img src="/assets/images/socials/circles.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Trust me on Circles" alt="Circles logo" /></a>
        <a href="https://invt.co/@0BTC"><img src="/assets/images/socials/invitation.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Follow me on invitation.app" alt="Invitation.app logo" /></a>
        <a href="https://farcaster.xyz/zanti"><img src="/assets/images/socials/farcaster.svg" style="height: 40px; vertical-align: middle; margin-right: 5px;" title="Follow me on Farcaster" alt="Farcaster logo" /></a>
        
        
      </div>
    </div>
  </div>

  <hr style="margin: 2em auto 1em auto; border: 0; border-top: 1px dashed #444;" />

  <div style="text-align: center; color: #666;">
    &copy; {{ site.time | date: "%Y" }} OBTC. All rights reserved. Made with ☕ and 💻 by <a href="https://github.com/yourgithub" style="color: #66f;">You</a>.
  </div>
</footer>
