@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');


body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}
h1, h2, h3, h4 {
  font-weight: 600;
  color: #9f9;
}
a {
  color: #66f;
}

